# Dependency directory
node_modules/

# Test directory
__tests__/

# Downloaded video files
media/video/**
media/working-video/**
media/deleted-videos/** 

# Readme Screenshots & Gifs
media/demo.gif
media/edit-mode-screenshot.jpeg
media/folders-screenshot.jpeg
media/home-screenshot.jpeg
media/mp4-video-player-screenshot.jpeg
media/trim-video-screenshot.jpeg

# Json Files
data/available-videos.json
data/current-download-videos.json
data/data-videos.json
data/user-settings.json

# file types
*.mp4
*.webm
*.exe
*.DLL
*.md