# Dependency directory
node_modules/

# video files
*.mp4

# Downloaded video files
media/deleted-videos/**
media/video/**

# Dont ignore working video folder content
# !media/working-video/video.mp4
# !media/working-video/video-info.txt

# FFmpeg files
ffmpeg.exe
ffprobe.exe
ffplay.exe

# unturnc files
untrunc.exe
SWRESAMPLE-2.DLL
LIBWINPTHREAD-1.DLL
LIBSTDC++-6.DLL
LIBGCC_S_SEH-1.DLL
AVUTIL-55.DLL
AVFORMAT-57.DLL
AVCODEC-57.DLL