*{
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  font-family: "Test", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 0 solid;
  outline: 0;
  overflow: hidden;
  vertical-align: baseline;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.videoLinkContainer{
  margin: auto;
  display: grid;
  padding-top: 50vh;
}

.videoLinkContainer form{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap:  1rem;
   padding:  0.5rem;
}

.watchVideoButton{
  grid-column-start:  1;
  grid-column-end:  3;
}

.button {
  font-weight: bold;
  color: rgb(0,0,0);
  text-align: center;
  font-size: .75rem;
  cursor: pointer;
}
.watchVideoButton{
  color: #000;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.44444;
  height: 2.1875rem;
  min-width: 3.75rem;
  border: 1px solid #000;
  transition: border-radius .15s linear;
}
.watchVideoButton:hover{
  border-radius: 2em;
}
