@import url("NavigationBar.css");
@import url("current-downloads.css");
@import url("showAvailableVideos.css");
@import url("notify.css");

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "WatchVideoByLink", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 12px;
}

body, .index-body, .index-websiteContentContainer,
.saved-videos-body, .saved-videos-websiteContentContainer {
  display: grid;
}

.watching-video-body{
  margin: 0;
  padding: 0;
  border: 0 solid;
  outline: 0;
  overflow: hidden;
  vertical-align: baseline;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.videoLinkContainer{
  margin: auto;
  display: grid;
  padding-top: 38.75vh;
}
.noAvailableVideosContainer, .responseErrorAvailableVideo{
  margin: auto;
  padding-top: 40vh;
}

.getVideoUrlAutoMessageConatinaer {
  margin: auto;
  padding-top: 51.15vh;
}

.noAvailableVideosHeader, .getVideoUrlAutoMessageHeader{
  text-align: center;
} 

.watchVideoButton, .uploadVideoButton{
  border: 0px !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 24px !important;
  height: 38px !important;
  width: 200px !important;
}

.watchVideoButton{
  background: rgb(255, 56, 92) !important;
}

.uploadVideoButton{
  background: rgb(0 0 0) !important; 
}

.watchVideoButton:hover{
  background: rgb(221, 16, 99) !important;
}

.uploadVideoButton:hover{
  background: rgb(0 0 0 / 90%) !important;
}

.button {
  font-weight: bold;
  color: rgb(0,0,0);
  text-align: center;
  font-size: .75rem;
  cursor: pointer;
} 

.videoLinkContainerForm{ 
  border: 1px solid rgb(221, 221, 221) !important;
  border-radius: 32px !important;
  color: rgb(34, 34, 34) !important;
  display: flex !important;
  height: 66px !important;
  position: relative !important;
  width: 100% !important;
  box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px !important;
  background-color: rgb(247, 247, 247) !important;
}
 
.videoLinkInputBody, .videoTypeInputBody { 
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  position: relative !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex: 1 0 0% !important;
  -ms-flex: 1 0 0% !important;
  flex: 1 0 0% !important;
  margin: -1px !important;
  min-width: 0px !important;
  border-radius: 32px !important;
}

.videoLinkInputBody:hover , .videoTypeInputBody:hover{
  background-color: rgb(235, 235, 235) !important;
}
 
.videoLinkInputLabel, .videoTypeInputLabel { 
  cursor: pointer !important;
  display: block !important;
  background-clip: padding-box !important;
  border: 1px solid transparent !important;
  border-radius: 32px !important;
  -webkit-flex: 1 0 0% !important;
  -ms-flex: 1 0 0% !important;
  flex: 1 0 0% !important;
  min-width: 0px !important;
  padding: 14px 32px !important;
}
 
.videoLinkInputContainer, .videoTypeInputContainer { 
  position: relative !important;
  z-index: 1 !important;
}

.videoLinkInput, .videoTypeSelect { 
  display: block !important;
  border: 0px !important; 
  background: none !important;
}

.submitVideoButtonContainer {
  padding: 14px 32px !important;
  border-radius: 32px !important;
}

.chooseVideoInputLabel, .chooseVideoInputBody{ 
  margin: auto;
}

.uploadVideoContainer{ 
  display: flex !important;
  height: 66px !important; 
  width: 100% !important;
}

.submitUploadVideoButtonContainer{ 
  margin: auto;
  display: flex;
}

/* Tablet Friendly */

@media only screen and (max-width: 760px){
  .videoLinkContainer form{    
    display: block !important;
    height: initial !important;
    width: initial !important;
    padding: 10px;
  }
  .videoLinkInput, .videoTypeSelect { 
    width: 100% !important; 
  }

  .watchVideoButton, .uploadVideoButton{ 
    width: 100% !important;
  }

  .chooseVideoInputLabel { 
    display: block !important; 
    border: 1px solid transparent !important; 
    padding: 14px 32px !important;
  }

  .submitChoosenVideoButtonContainer { 
    padding: 0px 32px !important;
  }

  .submitUploadVideoButtonContainer{  
    display: block !important;
  }

  .videoLinkContainer { 
    padding-top: 28.85vh !important;
  }
}