/* trim video css */
.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
  border: 1px solid rgba(115,133,159,.5);
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgba(115, 133, 159, 1);
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 25px;
  height: 25px;
  border: 0.25rem solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(98,0,238,.1);
  transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
  box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

.trimVideoBody{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding: 0 0.5rem 0 0.5rem;
  transform: translate(-50%, -50%);
}
.trimVideoArticle{
  border-radius: .3em;
  color: #ffffff;
  background-color: rgba(0,0,0,0.3) !important;
  max-width: 60rem;
  padding: 0.5rem;
  margin: auto;
}
.trimVideoControlsBody{
  margin: auto 0;
}
.trimVideoControls{
  padding-bottom: 1rem;
}
.timeInput, .StartTime, .EndTime, .selectedVideoTimeLabel{
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
}
@media only screen and (max-width: 700px){
.timeInput, .StartTime, .EndTime, .selectedVideoTimeLabel{
    padding: 0.25rem 0 0.25rem 0;
  }
}
.timeInput{
  background-color: rgba(0,0,0,0) !important;
  width: 100%;
  border:0;
  color: rgb(255 255 255);
  font-weight:bold;
  text-align: center;
}
.EndTime, .StartTime {
  justify-content: center;
  display: grid;
}
.videoContainer{
  margin: 0 auto;
}
.trimVideoButtonContainer{
  display: grid;
}
.trimVideoButton{
  color: #000;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.44444;
  height: 2.1875rem;
  min-width: 3.75rem;
  border: 1px solid #000;
  transition: border-radius .15s linear;
  }
  .trimVideoButton:hover{
    border-radius: 2em;
  }

.trimVideoPlayer, .multi-range-slider{
  width: 100% !important;
  height: auto !important;
}

.multi-range-slider{
  position: relative;
  top: -30px;
}

.originalVideoTimeLabel, .selectedVideoTimeLabel{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.selectedVideoTimeLabel{
  font-size: 1.4em;
}
.originalVideoTimeContainer, .selectedVideoTimeContainer, .trimVideoContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1ch;
}
